PROJECTS_PATH=/home/projects              # replace with absolute path to local projects folder
SSH_AUTH_SOCK=/path/to/host/ssh-auth.sock # replace with absolute path to local ssh auth socket
DOCKER_SOCK=/path/to/host/docker.sock     # absolute path to local docker socket file
DOCKER_GID=0                              # Build arg, replace with actual docker.sock GID